body {
    background-color: #af6fab;
    /* font family */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px 0px;
    gap: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #bf94bc;
    border-radius: 18px;
    padding: 30px;
    height: 600px;
    width: 500px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    font-size: 36px;
    text-align: right;
    background-color: #d4d4d2;
}

.calculator-keys {
    height: 75%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.row {
    display: flex; 
    justify-content: space-between;
    gap: 25px;
    height: 100%;
}

.number, .operator, .dot {
    width: 20%;
}

#clear, #negative, #percent {
    width: 20%;
}

#equals {
    width: 46%;
}